<h2>Planifier une reunion</h2>
<form action="{% url 'create_meeting' %}" method="post">
    {% csrf_token %}
    <p>Date: {{ meeting.date }}</p>
    <p>Heure de debut: {{ meeting.start_time }}</p>
    <p>Heure de fin: {{ meeting.end_time }}</p>
    <p>Format: {{ meeting.format }}</p>
    <p>Type: {{ meeting.type }}</p>
    <p>Attribution des roles: {{ meeting.attribution_role }}</p>
    <p>Adresse</p>
    <p>{{ meeting.location }}</p>
    <p>Lien: {{ meeting.url }}</p>
    <button type="submit" style="background-color: #007BFF;color: white; padding: 10px 18px;
        border: none; border-radius: 5px; font-size: 0.95rem; cursor: pointer; transition: background 0.3s ease;">
        Planifier
    </button>
</form>
