{% load static %}
<div class="profile-section">
    <div class="profile-hello">
        <h2>Bienvenue Toastmaster,</h2>
    </div>
    <div class="profile-card">
        <div class="profile-photo">
            {% if user.profile.photo %}
                <img src="{{ user.profile.photo.url }}" alt="Photo de profil">
            {% else %}
                <img src="{% static 'images/avatar.jpg' %}" alt="Photo par defaut">
            {% endif %}
            <div class="profile-distinctions">
                <a href="{% url 'myCertificats' %}">Mes distinctions</a>
            </div>
        </div>
        <div class="profile-infos">
            <h2 class="profile-name">{{ user.profile.user.get_full_name.title }}</h2>
            <p>{{ user.profile.curriculums.all|join:" - " }}</p>
            <p>
                Statut(s): 
                {% if user.profile.statut %}
                    {{ user.profile.statut.title|title }} /
                {% endif %}

                {% if is_board_member %}
                     {% for bp in board_profiles %}
                            {{ bp.role.title }}{% if not forloop.last %} / {% endif %}
                      {% endfor %}
                {% endif %}
                
            </p>
            <div class="profile-modif">
                <a href="{% url 'edit_profile' %}">Modifier mon profil</a>
            </div>
        </div>
    </div>
</div>
