{% load static %}

<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %} {% endblock %}</title>
        <link rel="stylesheet" href="{% static 'members/css/style.css' %}?v=10">
        <link rel="stylesheet" href="{% static 'css/table.css' %}?v=2">
        <link rel="stylesheet" href="{% static 'css/navbar_login.css' %}?v=4">
        <link rel="stylesheet" href="{% static 'css/popup.css' %}?v=6">
        <link rel="stylesheet" href="{% static 'css/switch_button.css' %}?v=2">
        <link rel="stylesheet" href="{% static 'css/sidebar_login.css' %}?v=7">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

        <script type="text/javascript" src="{% static 'js/switch_button.js' %}" defer></script>
        <script type="text/javascript" src="{% static 'js/sidebar_login.js' %}?v=2" defer></script>
        <script type="text/javascript" src="{% static 'js/popup.js' %}?v=4" defer></script>
        <script type="text/javascript" src="{% static 'meetings/js/check_meeting_attendance.js' %}" defer></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
        
        <script>
            (function() {
                if (window.innerWidth >= 768) {
                    const saved = localStorage.getItem('sidebarClosed');
                    const closed = saved === '1';
                    
                    if (closed) {
                        document.documentElement.classList.add('sidebar-closed');
                    }
                }
            })();
        </script>
    
        {% block head %} {% endblock %}
    </head>
    <body>
        {% if user.is_authenticated %}
        {% include 'navbar_login.html' %}
        {% endif %}
    <div class="layout">
        {% if user.is_authenticated %}
        {% include 'sidebar_login.html' %}
        {% endif %}
        <main class="main-content">
            {% block body %}
            
            {% endblock %}
        </main>
    </div>
    </body>
</html>