{% load static %}

<nav class="navbar">
    <div class="navbar-left">
    <a href="{% url 'dashboard' %}" class="brand-link">
        <img
        id="logo-toastmasters"
        src="{% static 'images/logo-toastmasters.png' %}"
        alt="Logo Toastmasters"
        class="logo-img"
        >
        <span class="brand-text">
        <span class="brand-line brand-line-main">TOASTMASTERS</span>
        <span class="brand-line brand-line-sub">ULaval Club</span>
        </span>
    </a>
    </div>

    <div class="navbar-right">
        <div class="notif-menu">
            <a href="{% url 'show_my_notifications' %}" class="icon-link" title="Notifications">
                <i class="fas fa-bell"></i>
            </a>
            <div class="notif-dropdown">
                <div class="notif-header">
                    <span>Notifications</span>
                    <a href="#" class="notif-settings" title="Paramètres">
                        <i class="fas fa-cog"></i>
                    </a>
                </div>

                <div class="notif-list" id="notif-list">

                </div>
            </div>
        </div>

        <div class="profil-menu">
            <a href="{% url 'edit_profile' %}" class="icon-link" title="Mon Compte">
                <i class="fas fa-user-circle"></i>
            </a>

            <div class="profil-dropdown">
                <div class="top-profil-dropdown">
                    <img class="avatar-profil-menu" src="{{ profil.photo.url }}" width="50" height="50" style="border-radius: 50%; border: 1px solid green;">
                    <h3>{{ profil.user.get_full_name.title }}</h3>
                    <p>{{ profil.user.email }}</p>
                </div>
                <a href="{% url 'edit_profile' %}">Profil</a>
                <a href="#">Compte</a>
                <a href="{% url 'logout' %}">Se deconnecter</a>
            </div>
        </div>
    <button class="hamburger" id="hamburger-btn">
      <i class="fas fa-bars"></i>
    </button>
    </div>



</nav>

