{% load static %}

<nav class="navbar">
    <div class="navbar-left">
        <a href="{% url 'dashboard' %}" 
        style="display: flex !important; align-items: center !important; gap: 0.75rem !important; margin-left: 5px !important; text-decoration: none !important; color: inherit !important;">
            <img id="logo-toastmasters" 
                src="{% static 'images/logo-toastmasters.svg' %}" 
                alt="Logo Toastmasters" 
                class="logo-img"
                style="height: 70px !important; width: auto !important; max-width: 200px !important;">
            <span style="flex-grow: 1 !important; font-weight: bold !important; font-size: 1.5rem !important; text-decoration: none !important; display: flex !important; flex-direction: column !important; line-height: 1.1 !important;">
                <span style="font-size: 1.6rem !important;">TOASTMASTERS</span>
                <span style="font-size: 1.3rem !important;">ULaval Club</span>
            </span>
        </a>
    </div>

    <div class="navbar-right">
        <a href="{}" class="icon-link" title="Notifications">
            <i class="fas fa-bell"></i>
        </a>
        <div class="notif-dropdown">
            <div class="notif-header">
                <span>Notifications</span>
                <a href="{}" class="notif-settings" title="Paramètres">
                    <i class="fas fa-cog"></i>
                </a>
            </div>

            <div class="notif-list" id="notif-list">

            </div>
        </div>

        <div class="profil-menu">
            <a href="{}" class="icon-link" title="Mon Compte">
                <i class="fas fa-user-circle"></i>
            </a>

            <div class="profil-dropdown">
                <div class="top-profil-dropdown">
                    <img class="avatar-profil-menu" src="{{ profil.photo.url }}" width="50" height="50" style="border-radius: 50%; border: 1px solid green;">
                    <h3>{{ profil.user.get_full_name.title }}</h3>
                    <p>{{ profil.user.email }}</p>
                </div>
                <a href="{% url 'edit_profile' %}">Profil</a>
                <a href="{}">Compte</a>
                <a href="{% url 'logout' %}">Se deconnecter</a>
            </div>
        </div>
    <button class="hamburger" id="hamburger-btn">
      <i class="fas fa-bars"></i>
    </button>
    </div>



</nav>

