<aside class="sidebar">
    <div class="sidebar-header">
        <button class="sidebar-open-btn" aria-label="Ouvrir la sidebar">
            <i class="fas fa-bars"></i>
        </button>
        <span class="sidebar-title">MENU</span>
        <button class="sidebar-close-btn" aria-label="Fermer">
        <i class="fas fa-times"></i>
        </button>
  </div>
    <ul class="menu-list">
        <li class="{% if section_active == 'dashboard' %}active{% endif %}">
            <a href="{% url 'dashboard' %}" title="Tableau de bord">
                <i class="fas fa-home"></i> 
                <span>Tableau de bord</span>
            </a>
        </li>
        <li class="{% if section_active == 'suivi' %}active{% endif %}">
            <a href="{% url 'speeches_historique' %}" title="Suivi de participation">
                <i class="fas fa-user-check"></i> 
                <span>Suivi de participation</span>
            </a>
        </li>
        <li class="{% if section_active == 'roles' %}active{% endif %}">
            <a href="{% url 'speeches_planning' %}" title="Prise de rôle">
                <i class="fas fa-tasks"></i> 
                <span>Prise de rôle</span>
            </a>
        </li>
        <li class="{% if section_active == 'evaluations' %}active{% endif %}">
            <a href="{% url 'evaluations' %}" title="Évaluations">
                <i class="fa-solid fa-star"></i> 
                <span>Évaluations</span>
            </a>
        </li>
        <li class="{% if section_active == 'reunions' %}active{% endif %}">
            <a href="{% url 'meetings_list' %}" title="Réunions">
                <i class="fas fa-calendar-alt"></i> 
                <span>Réunions</span>
            </a>
        </li>
        <li class="{% if section_active == 'votes' %}active{% endif %}">
            <a href="{% url 'forms_list' %}" title="Votes">
                <i class="fas fa-vote-yea"></i> 
                <span>Votes</span>
            </a>
        </li>
        <li class="{% if section_active == 'certificats' %}active{% endif %}">
            <a href="{% url 'myCertificats' %}" title="Certificats">
                <i class="fas fa-award"></i> 
                <span>Certificats</span>
            </a>
        </li>

        <li class="{% if section_active == 'ressources' %}active{% endif %}">
            <a href="{% url 'show_ressources' %}" title="Ressources">
                <i class="fas fa-book"></i> 
                <span>Ressources</span>
            </a>
        </li>

        {% if user.is_staff %}
        <li class="sidebar-separator"></li>
        
        <li class="{% if section_active == 'communications' %}active{% endif %}">
            <a href="{% url 'communications' %}" title="Communications">
                <i class="fas fa-envelope"></i> 
                <span>Communications</span>
            </a>
        </li>
        <li class="{% if section_active == 'statistiques' %}active{% endif %}">
            <a href="{% url 'statistiques' %}" title="Statistiques">
                <i class="fas fa-chart-pie"></i> 
                <span>Statistiques</span>
            </a>
        </li>
        <li class="{% if section_active == 'parametres' %}active{% endif %}">
            <a href="{% url 'settings' %}" title="Paramètres généraux">
                <i class="fas fa-cog"></i> 
                <span>Paramètres généraux</span>
            </a>
        </li> 
        {% endif %}
        <li class="sidebar-separator"></li>
        <li class="logout">
            <form method="POST" action="{% url 'logout' %}" style="display: contents;">
                {% csrf_token %}
                <a href="#" onclick="event.preventDefault(); this.parentNode.submit();" 
                style="text-decoration: none; color: inherit;">
                    <i class="fas fa-sign-out-alt"></i>
                    <span>Se déconnecter</span>
                </a>
            </form>
        </li>
    </ul>
</aside>