{% extends 'base_login.html' %}
{% block title %} Mes discours {% endblock %}

{% block body %}
<div class="page-container">
<div class="page-header">
<h2>Historique de participation</h2>
{% if user.is_staff %}
<div class="container">
  <button class="toggle-text-btn {% if current_section == 'personnel' %}active{% endif %}" data-target="personnel">Personnel</button>
  <button class="toggle-text-btn {% if current_section == 'club' %}active{% endif %}" data-target="club">Club</button>
</div>
{% endif %}
</div>

<div class="section-content {% if current_section == 'personnel' %}active{% endif %}" id="personnel" 
     style="display:{% if current_section == 'personnel' %}block{% else %}none{% endif %};">
<div class="advanced-filtre">
    <form method="get">
        <input type="hidden" name="section" value="personnel">
        <select name="role" onchange="this.form.submit()">
            <option value="">-- Tous les rôles --</option>
            {% for r in roles %}
            <option value="{{ r }}" {% if request.GET.role == r %}selected{% endif %}>{{ r }}</option>
            {% endfor %}
        </select>

        <select name="date" onchange="this.form.submit()">
            <option value="">-- Toute période --</option>
            <option value="7j" {% if request.GET.date == "7j" %}selected{% endif %}>7 derniers jours</option>
            <option value="14j" {% if request.GET.date == "14j" %}selected{% endif %}>14 derniers jours</option>
            <option value="30j" {% if request.GET.date == "30j" %}selected{% endif %}>30 derniers jours</option>
            <option value="90j" {% if request.GET.date == "90j" %}selected{% endif %}>90 derniers jours</option>
            <option value="365j" {% if request.GET.date == "365j" %}selected{% endif %}>1 an</option>
        </select>
    </form>
</div>

<h3 class="section-title">Mes Discours/Rôles réalisés</h3>
<div class="table-wrapper">
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Type</th>
                <th>Titre</th>
                <th>Certificat</th>
            </tr>
        </thead>
        <tbody>
            {% for speech in past_speeches.personnel %}
            <tr>
                <td>{{ speech.meeting.date|date:"d M Y" }}</td>
                <td>{{ speech.role.title }}</td>
                <td>
                    {% if speech.title %}{{ speech.title }}{% else %}-{% endif %}
                </td>
                <td>
                    {% if speech.certificat.is_won %}
                    <i class="fas fa-award"></i> <i class="fas fa-check text-success"></i>
                    {% else %}-{% endif %}
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">Aucun discours/rôle réalisé</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>


<div class="page-historique">
{% if user.is_staff %}
<div  class="section-content {% if current_section == 'club' %}active{% endif %}" id="club" 
      style="display:{% if current_section == 'club' %}block{% else %}none{% endif %};">
<div class="filtre-recherche">
    <form method="get">
        <input type="hidden" name="section" value="club">
        <input type="text" name="filtre" placeholder="Recherchez">
        <button><i class="fas fa-search"></i></button>
    </form>
</div>
    <h3 class="section-title">Membres</h3>
<div class="table-wrapper">
    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Séances assistées</th>
                <th>Dernière participation</th>
                <th>Discours/Roles réalisés</th>
                <th>Certificats obtenus</th>
            </tr>
        </thead>
        <tbody>
            {% for member in profils %}
            <tr>
                <td>{{ member.user.get_full_name|title }}</td>
                <td> 
                     {{ 5 }}
                </td>
                <td>
                   {{'21-08-2025'}}
                </td>
                    
                <td>
                    {{ member.roles_performed }}

                </td>
                <td>
                    {{ member.certificats_won }}
                </td>
                
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">Aucun membre</td>
            </tr>

            {% endfor %}
        </tbody>
    </table>
</div>
</div>
</div>
{% endif %}
</div>
{% endblock %}
