# Environment
.env 

# SSL Certificate
certs/

# Python file
__pycache__/
*.pyc
*.pyo 
venv/
env/

# Media + static files
media/
staticfiles/

# OS
.DS_Store
.env.local

# Database
db.sqlite3

# IDE
.vscode/

# Celery tasks
celerybeat-schedule
