# Docker compose for development use
services:
  nginx:
    image: nginx:latest
    restart: always
    ports:
      - '80:80'
      - '443:443'
    volumes:
      - ./certs:/etc/nginx/certs
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - web

  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    restart: always
    ports:
      - '8000:8000'
    volumes:
      - .:/app
      - media:/app/media
    environment:
      DATABASE_URL: ${DATABASE_URL}
      REDIS_URL: ${REDIS_URL}
      SECRET_KEY: ${SECRET_KEY}
      EMAIL_HOST_USER: ${EMAIL_HOST_USER}
      DEFAULT_FROM_EMAIL: ${DEFAULT_FROM_EMAIL}
      EMAIL_HOST_PASSWORD: ${EMAIL_HOST_PASSWORD}
      DEBUG: ${DEBUG}
    depends_on:
      - redis
      - db

  db:
    image: postgres:15
    restart: always
    ports:
      - '5432:5432'
    volumes:
      - db_data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}

  redis:
    image: redis:7
    restart: always
    ports:
      - '6379:6379'

  celery:
    build: .
    restart: always
    command: celery -A ToastmastersFSA worker --loglevel=info
    environment:
      DATABASE_URL: ${DATABASE_URL}
      REDIS_URL: ${REDIS_URL}
      DEBUG: ${DEBUG}
      EMAIL_HOST_USER: ${EMAIL_HOST_USER}
      DEFAULT_FROM_EMAIL: ${DEFAULT_FROM_EMAIL}
      EMAIL_HOST_PASSWORD: ${EMAIL_HOST_PASSWORD}

    volumes:
      - .:/app
      - media:/app/media

    depends_on:
      - redis
      - db
      - web

  celery-beat:
    build: .
    restart: always
    command: celery -A ToastmastersFSA beat --loglevel=info
    environment:
      DATABASE_URL: ${DATABASE_URL}
      REDIS_URL: ${REDIS_URL}
      DEBUG: ${DEBUG}
      EMAIL_HOST_USER: ${EMAIL_HOST_USER}
      DEFAULT_FROM_EMAIL: ${DEFAULT_FROM_EMAIL}
      EMAIL_HOST_PASSWORD: ${EMAIL_HOST_PASSWORD}
      
    volumes:
      - .:/app
      - media:/app/media

    depends_on:
      - redis
      - db
      - web

volumes:
  db_data:
  media:

