
services:
  nginx:
    image: nginx:latest
    restart: always
    ports:
      - '80:80'
      - '443:443'
    volumes:
      - ./certs:/etc/nginx/certs
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - web

  web:
    build: .
    # command: gunicorn "To Uncomment in production"
    restart: always
    volumes:
      - .:/app
      - ./media:/app/media
    ports:
      - '8000:8000'
    environment:
      DATABASE_URL: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
    depends_on:
      - redis
      - db
    entrypoint: /app/entrypoint.sh
  
  db:
    image: postgres:15
    restart: always
    ports:
      - '5432:5432'
    volumes:
      - db_data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}

  redis:
    image: redis:7
    restart: always

  celery:
    build: .
    restart: always
    command: celery
    depends_on:
      - redis
      - db

volumes:
  db_data:

