dj_database_url==3.0.1
psycopg2-binary==2.9.9
celery==5.5.3
redis==5.0.0
Django==5.2.5
django-allauth==65.13.1
django-celery-beat==2.8.1
django-phonenumber-field==8.1.0
django-timezone-field==7.1
phonenumbers==9.0.12
pillow==11.3.0
weasyprint==66.0
whitenoise==6.6.0
