{% extends "base.html" %}

{% block title %} S'enregistrer {% endblock %}

{% block body %} 
{% if message %}
<div class="alert-message" style="background:#d4edda;color:#155724;padding:10px;margin-bottom:10px;border-radius:5px;">
    {{ message }}
</div>
{% endif %}
<h2>S'enregister</h2>
<form action="{% url 'signup' %}" method="post">
    {% csrf_token %}
    <p>{{ form.last_name }}</p>
    <p>{{ form.first_name }}</p>
    <p>
        {{ form.username }} 
        {{ form.username.errors }}
    </p>

    <p>
        {{ form.email }}
        {{ form.email.errors }}
    </p>

    <p>
        {{ form.programme }}
    </p>

    <p>
        {{ form.password1 }}
        {{ form.password1.errors }}
    </p>

    <p>
        {{form.password2}}
        {{form.password2.errors}}
    </p>
    <button type="submit">S'enregistrer</button>
</form>
<p>
    Vous avez déjà un compte ? 
    <a href="{% url 'login' %}">Connectez-vous</a>
</p>
{% endblock %}