<h2>Supprimer ce poste</h2>
<p>Êtes-vous sûr de vouloir supprimer ce poste ? Cette action est irréversible.</p>

<div class="btn-validation" style="display: flex; gap: 1rem; margin-top: 1rem;">
    <form method="post" action="{% url 'delete_board_profile' board_profile.id %}" style="margin: 0;">
        {% csrf_token %}
        <button type="submit" class="btn-oui" style="padding: 0.5rem 1rem; border: none; border-radius: 6px;
                cursor: pointer; font-weight: bold;  background-color: #007BFF;
  color: white;">
            OUI
        </button>
    </form>

    <form method="post" action="#" style="margin: 0;">
        {% csrf_token %}
        <button type="submit" class="btn-non" style="padding: 0.5rem 1rem; border: none; border-radius: 6px;
                cursor: pointer;font-weight: bold;   background-color: #d9534f; color: white;">
            NON
        </button>
    </form>
</div>